
.cards{

    margin: 25px auto;
    border: 1px solid #ccc;
    width: 500px;
    height: 300px;
    box-shadow: 7px 7px 15px #888685; 
    border-radius: 5px;
    background-color: #fffdfac4;

}
.p_class{
    margin: 2px;
}

.cards:last-child{
    margin-bottom: 100px;
    color:rgb(10, 10, 10);
}